body {
    color: #fff;
}

/* some colours - CSS HEX */
:root{
    --pumpkin: #ff6d00ff;
    --safety-orange: #ff7900ff;
    --ut-orange: #ff8500ff;
    --princeton-orange: #ff9100ff;
    --orange-peel: #ff9e00ff;
    --russian-violet: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    background-color: #111211;
    }

/*observe index.html - how did i get the text to align into the center of the box in that case? repeat this for the choices*/

#game-title {
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    font-weight: 100;
    font-style: italic;
}

/*Question counter*/

.question-container {
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    position: relative;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #111211;
    margin: 0 auto;
    padding-top: 5rem;
    margin-top: 3rem;
}

#question {
    font-size:calc(12px + 5vw)
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.question-text-container {
    justify-content: center;
    display: flex;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5vh;
    width: 60vw;
    height: 20vh;
    overflow-y: auto;
}

@media (min-width: 520px) {
    #question {
        font-size: 50px;
    }
}

@media (min-width: 861px) {
    #question {
        font-size: 58px;
    }
}

@media (min-width: 1200px) {
    #question {
        font-size: 70px;
    }
}

/*Score*/

.hud-item-3 {
    justify-content: center;
    width: 10vw;
    padding-left: 1vw;
}

.hud-score {
    padding-top: 1rem;
    text-align: center;
    font-size:calc(10px + 2vw)
}

.hud-main-text {
    text-align: center;
    font-size:calc(12px + 3vw)
}

/*Choice buttons*/

.choice-container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto 0;
    position: relative;

    margin-left: 20px;
    margin-right: 20px;
    width: 50wv;

    margin-bottom: 2rem;
    border-radius: 20px;
    background: linear-gradient( var(--amethyst) 0%, var(--tekhelet) 100%);
    font-size: 3rem;

}

.choice-container:hover {
    cursor: pointer; 
    box-shadow: 0 0.4rem 1.4rem 0 rgbs(6, 103, 247, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    Color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

/*Changes the colour of the choice button depending on whether the question was answered correctly or incorrectly*/
.correct {
    background: linear-gradient(32deg, rgb(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/*Heads up Display*/
#hud {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
}

.hud-item-2 {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto 0;
    position: relative;
    
}

.hud-question {
    text-align: center;
    font-size:calc(6px + 1.5vw)
}

#progressBar {
    width: 20vw;
    height: 1rem;
    border: 0.2rem solid var(--pumpkin);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: var(--orange-peel);
    width: 0%;
}

.quit-button {
    justify-content: left;
    padding-left: 16rem;
    display: flex;
    position: relative;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#quit-btn {
    color: #fff;
    background: linear-gradient(var(--french-violet) 20%, #111211 100%);
    border-radius: 50px;
    font-size: 2rem;
    width: 20rem;
    
}



