body {
    background: url('../images/rules2.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #343a40; /* Example text color */
}

.container {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 10px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly more opaque card background */
}

.card-body h2 {
    margin-top: 20px;
}

.card-body p {
    margin-bottom: 20px;
}

.btn-color {
    background-color: #7b2cbf; /* Button color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    /*max-width: 50px; */
}

.btn-color:hover {
    background-color: #9d4edd; /* Button hover color */
}

a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: #9d4edd;
    background-color: #7b2cbf;
    border-radius: 5px;
    padding: 5px 10px;


}

a:hover {
    background-color: #9d4edd; /* Button hover color */
}


/*Scrolling text */

   
   #scrolling-text {
    display: flex; /* Enable flexbox */
    align-items: center; /* Center text vertically */
    justify-content: flex-start; /* Align text to start horizontally */
    width: 100%;
    height: 15vh; /* Set container height as a percentage of the viewport height */
    overflow: hidden;
    position: relative;
    background: #9d4edd;
    color: #fff;
    font-size: 2vw; /* Font size scales with viewport width */
    padding: 0;
    box-sizing: border-box;
  }

  #scrolling-text span {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-text 10s linear infinite;
  }

  @keyframes scroll-text {
    from {
      transform: translateX(300%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* Media queries for smaller devices */
  @media (max-width: 768px) {
    #scrolling-text {
      height: 12vh; /* Slightly reduce the height for tablets and smaller devices */
      font-size: 3vw; /* Adjust font size */
    }
  }

  @media (max-width: 480px) {
    #scrolling-text {
      height: 10vh; /* Further reduce height for smaller screens */
      font-size: 4vw; /* Further increase font size for readability */
    }
  }
/*
#scrolling-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background: #9d4edd;
    
    color: #ffffff;
    font-size: 20px;
    padding: 40px 0;
    box-sizing: border-box;
  }

  #scrolling-text span {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    animation: scroll-text 10s linear infinite;
  }

  @keyframes scroll-text {
    from {
      transform: translateX(300%);
    }
    to {
      transform: translateX(-100%);
    }
  }
    */
